name: Haskell CI

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        ghc: ["latest"]
        # ghc: ["8.4.4", "8.10.7", "9.6.3"]
      fail-fast: false
    runs-on: ubuntu-latest
    name: GHC ${{ matrix.ghc }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-hs
        with:
          ghc: ${{ matrix.ghc }}

      - name: Install dependencies
        run: stack build --fast --skip-ghc-check --no-terminal --test --only-dependencies

      - name: Build
        run: stack build --fast

      - name: Build Bench and Haddock
        run: stack build --fast --no-run-benchmarks --haddock --no-haddock-deps

  hlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: lint
        run: curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/run.sh | sh -s .

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install
        shell: bash
        run: |
          curl -sSL https://raw.githubusercontent.com/nalchevanidze/hconf/main/scripts/install.sh | sh -s .
          hconf format --check

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
