name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        ghc: ["9.6.3"]
      fail-fast: false
    runs-on: ubuntu-latest
    name: GHC ${{ matrix.ghc }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ghc
        with:
          ghc: ${{ matrix.ghc }}
      - uses: ./.github/actions/hconf
      - name: Setup Stack
        run: stack setup ${{ matrix.ghc }}

      - name: Install dependencies
        run: stack build --fast --skip-ghc-check --no-terminal --test --only-dependencies

      - name: Build
        run: stack build --fast

      - name: Build Bench and Haddock
        run: stack build --fast --no-run-benchmarks --haddock --no-haddock-deps

  hlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: lint
        run: curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/run.sh | sh -s .

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/hconf
      - name: format
        run: hconf format --check

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
