name: Publish Release

on:
  pull_request:
    types: [closed]

jobs:
  publish_release:
    if: ${{ github.base_ref == 'main' && startsWith(github.head_ref, 'publish-release/') && github.event.pull_request.merged == true  }}
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      tag_name: ${{ steps.describe.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ghc
      - uses: ./.github/actions/hconf

      - name: Describe
        id: describe
        run: echo "VERSION=$(hconf version)" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.describe.outputs.VERSION }}
          release_name: ${{ steps.describe.outputs.VERSION }}
          body: ${{ github.event.pull_request.body }}

  upload_artifact:
    needs: publish_release
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: linux
            executable: hconf
          - os: macOS-latest
            target: mac-os
            executable: hconf
          - os: windows-latest
            target: windows
            executable: hconf.exe
    name: Upload Artifacts for ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ghc

      - name: Build and Stage
        shell: bash
        run: |
          stack build hconf
          mkdir -p out
          cp "$(stack exec which hconf)" ./out/${{ matrix.executable }}

      - name: Test Local Binary
        shell: bash
        run: |
          # Set permissions for Unix
          if [ "${{ matrix.os }}" != "windows-latest" ]; then
            chmod +x ./out/${{ matrix.executable }}
          fi
          # Verify the binary works before we waste time zipping/uploading
          ./out/${{ matrix.executable }} about

      - name: Package
        shell: bash
        run: |
          cd out
          7z a ../hconf.zip .
          cd ..

      - name: Upload to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.publish_release.outputs.upload_url }}
          asset_path: hconf.zip
          asset_name: hconf-${{ matrix.target }}.zip
          asset_content_type: application/zip
